#wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    width: 350px;
    padding-bottom: 25px;
    border-radius: 37px;
    background: linear-gradient(315deg, #cedde6, #f5ffff);
    box-shadow:  -7px -7px 29px #ccdae3, 7px 7px 29px #feffff;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  Button {
    margin: 3px;
  }

  #count {
    font-size: 120px;
  }

  .add:hover {
    background-color: lightgreen;
    color: rgb(50, 50, 50);
  }

  .remove:hover {
    background-color: lightcoral;
    color: rgb(68, 68, 68);
  }

  .random:hover {
    background-color: lightblue;
  }

  .reset:hover {
    background-color: lightslategray;
    color: white;
  }